.container {
  width: 100%;
}

.container .jumbotron {
  border-radius: 0 0 10px 10px;
  padding-top: 20px;
}

.panel {
  border: 1px solid #333;
  width: 250px;
  height: 420px;
  margin-right: 20px;
}

.panel h2 {
  color: #527baa;
  text-align: center;
  margin-top: 60%;
}

.panel-heading {
  background-color: #527baa;
  padding: 10px auto 10px auto;
}

.panel-heading h3 {
  color: #fff;
  text-align: center;
  margin: 0;
}

.panel-body {

}

.hide {
  display: none;
  background-color: #f0f;
}

.show {
  display: block;
}

.flashcard {
  float: left;
}

.definition {
  display: none;
}

.term {
  display: block;
}
