.container {
  width: 100%;
  padding: 0 60px 40px 60px;
}


.container .jumbotron {
  border-radius: 0 0 10px 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #cbd6db;
  text-align: center;
}

.panel {
  border: 1px solid #cbd6db;
  width: 240px;
  height: 380px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.panel h2 {
  color: #527baa;
  text-align: center;
  margin-top: 60%;
}

.panel h2:hover {
 text-shadow: 0 0 64px #fcc592, 0 0 32px #fcc592, 0 0 16px #fcc592, 0 0 8px #fcc592, 0 0 4px #fcc592, 0 0 2px #fcc592;
}

.panel-heading {
  background-color: #527baa;
  padding: 10px auto 10px auto;
}

.panel-heading h3 {
  color: #fff;
  text-align: center;
  margin: 0;
}

.panel-body {

}


.flashcard {
  float: left;
  margin-right: 20px;
}

.definition {
  display: none;
}

.term {
  display: block;
}

button {
  border: 1px solid #527baa;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  margin-right: 20px;
  margin-top: 20px;
  font-size: 1.65rem;
}

button#showAll {
  background-color: #527baa;
  color: white;
}

button#showAll:hover {
  background-color: #fcc592;
  color: #527baa;
}

button#hideAll {
  background-color: white;
  color: #527baa;
}

button#hideAll:hover {
  background-color: #fcc592;
}
