/* ******** NON-MOBILE STYLES (*********) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 18px;
  }

  div.container-fluid {
    width: 100%;
    padding: 0 40px 10px 40px;
  }

  div.jumbotron h1 {
    font-size: 46px;
  }

  .flashcard {
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px 20px 10px;
  }

  button.btn-info:hover, button.btn-primary:hover {
    background-color: #fcc592;
    color: #527baa;
  }
}

/* ******** MOBILE FIRST DEFAULT STYLES (*********) */

html {
  font-size: 24px;
}

body {
  background-color: #fff7f2; /* #f2f5f7  */
}


.container-fluid {
  width: 100%;
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.container-fluid .jumbotron {
  border-radius: 0 0 10px 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #85bed1;  /* #b8d0db #d0d9e0 */
  text-align: center;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #f00; */
}

.jumbotron h1 {
  font-size: 32px;
  margin-bottom: 20px;
  /* border: 1px solid #f0f; */
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid #00f; */
}

.panel {
  border: 1px solid #d0d9e0;
  width: 240px;
  height: 380px;
  margin-bottom: 0;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  flex: 0 1 auto;
}

.panel h2 {
  color: #527baa;
  text-align: center;
  margin-top: 60%;
}

.panel h2:hover {
 text-shadow: 0 0 64px #fcc592, 0 0 32px #fcc592, 0 0 16px #fcc592, 0 0 8px #fcc592, 0 0 4px #fcc592, 0 0 2px #fcc592;
}

.panel-heading {
  background-color: #527baa;
  padding: 10px auto 10px auto;
}

.panel-heading h3 {
  color: #fff;
  text-align: center;
  margin: 0;
}

/* saving this selector for styling the defintion text */
.panel-body {

}

.flashcard {
  /* float: left;*/
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px 20px 10px;
}

.flashcard-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.definition {
  display: none;
}

.term {
  display: block;
}

button {
  border: 1px solid #527baa;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  font-size: 120%;
  margin: 0 4px 0 4px;
}

.btn-info {
  background-color: white;
  color: #357AB7;
}


/* button#showAll {
  background-color: #527baa;
  color: white;
}

button#showAll:hover {
  background-color: #fcc592;
  color: #527baa;
}

button#hideAll {
  color: #527baa;
}

button#hideAll:hover {
} */
